@font-face {
    font-family: "PIXELGAMEFONT";
    src: local("PIXELGAMEFONT"), url("../fonts/PIXELGAMEFONT.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../images/background.png);
    font-family: "PIXELGAMEFONT", Arial, serif;
    font-size: 50px;
    overflow: hidden;
}

#queueContainer {
    position: absolute;
    top: 251px;
    left: 47.5%;
    transform: translateX(-53.3%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 19.5px;
    width: 800px;
}

.queue-item {
    position: relative;
    width: 100%;
    height: 80px; /* same as image */
    display: flex;
    align-items: center;
}

.queue-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.queue-item .ticket {
    position: absolute;
    left: 60%;
    margin-top: 13px;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 50px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.match:nth-child(1) {
    order: 100;
}

.match:nth-child(2) {
    order: 99;
}

.match:nth-child(3) {
    order: 98;
}

.match:nth-child(4) {
    order: 97;
}

.match:nth-child(5) {
    order: 96;
}

.match:nth-child(6) {
    order: 95;
}

.match:nth-child(7) {
    order: 94;
}

.match:nth-child(8) {
    order: 93;
}

.match:nth-child(9) {
    order: 92;
}

.match:nth-child(10) {
    order: 91;
}

.match:nth-child(11) {
    order: 90;
}

.match:nth-child(12) {
    order: 89;
}

.match:nth-child(13) {
    order: 88;
}

.match:nth-child(14) {
    order: 87;
}

.match:nth-child(15) {
    order: 86;
}

.match img {
    /* background-size: cover; */
    width: 100%;
}